<header class="p-sm-5 text-bg-light">
  <div class="container text-center">
    <div class="row">
      <div class="col-6 col-sm-4">
        <img src="/public/Daco_5669379.png" alt="" width="80px" />
      </div>
      <div class="d-none d-sm-block col" id="head">GFG 1 Month challenge daily Scorecard</div>
      <div class="col-6 col-sm-4">
        <img src="/public/logo css.png" alt="" width="80px" />
      </div>
      <div class="d-sm-none col-sm-4" id="head">GFG 1 Month challenge daily Scorecard</div>

    </div>
  </div>
</header>
